@model List<ListItemViewModel>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Authors</h4>
        </div><!--end card-header-->
        <partial name="Partials/_AuthorModalPartial" />





        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>LastName</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody id="author-area">
                        @foreach (var author in Model)
                        {
                            <tr id="row-@author.Id">
                                <td>@author.Name</td>
                                <td>@author.LastName</td>
                                <td class="text-end">

                                    <label type="button" for="modal2" class="button btn btn-secondary" onclick="updateAuthor(this)">Update</label>

                                    <a asp-route="update-author" asp-route-id="@author.Id"><i class="las la-pen text-secondary font-16"></i></a>

                                    <button data-id="row-@author.Id" type="button" onclick="deleteAuthor(this)">Delete</button>
                                    <a asp-route="delete-author" asp-route-id="@author.Id"></a>
                                </td>
                            </tr>


                            <input type="checkbox" id="modal2" class="hidden">
                            <div class="box_modal2">
                                <label for="modal2" class="closer">x</label>
                                <div class="text">

                                    <div class="mb-3 row">
                                        <label for="txtFirstName" class="col-sm-2 col-form-label ad">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="txtFirstName" placeholder="Name">

                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="txtLastName" class="col-sm-2 col-form-label ad">Surname</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="txtLastName" placeholder="Lastname">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary update-author">Yadda Saxla</button>
                                    <a asp-route="update-author" asp-route-id="@author.Id" ></a>


                                </div>
                            </div>



                            <style>
                                /* 기초 CSS 디자인 */
                                * {
                                    box-sizing: border-box;
                                }

                                .ad {
                                    width: 90px;
                                }

                                body {
                                    margin: 0;
                                }

                                .hidden {
                                    display: none;
                                    visibility: hidden;
                                }

                                /* 본문 디자인 */

                                /* 버튼으로 사용할 라벨 디자인 */
                                .button {
                                    font-size: 19px;
                                    font-weight: 600;
                                    vertical-align: middle;
                                    cursor: pointer;
                                }

                                /* 모달 윈도우 디자인 */
                                .box_modal2 {
                                    position: fixed;
                                    display: block;
                                    width: 400px;
                                    height: 250px;
                                    top: 50%;
                                    left: 50%;
                                    margin-top: -75px;
                                    margin-left: -150px;
                                    background: #d9e5e9;
                                    border: 1px solid #386980;
                                    overflow: hidden;
                                    /* 아래 부분은 애니메이션 효과를 위한 부분 */
                                    visibility: collapse;
                                    opacity: 0.6;
                                    filter: alpha(opacity=60);
                                    -webkit-transition: all .2s ease;
                                    transition: all .2s ease;
                                    -webkit-transform: scale(0, 0);
                                    -ms-transform: scale(0, 0);
                                    transform: scale(0, 0);
                                }

                                    .box_modal2:hover {
                                        opacity: 1;
                                        filter: alpha(opacity=100);
                                    }

                                /* 닫기 버튼으로 사용할 라벨 */
                                .closer {
                                    position: absolute;
                                    width: 30px;
                                    height: 30px;
                                    top: 0;
                                    right: 0;
                                    background: #eee;
                                    border-left: 1px solid #386980;
                                    border-bottom: 1px solid #386980;
                                    text-align: center;
                                    line-height: 26px;
                                    font-size: 16x;
                                    cursor: pointer;
                                }

                                .text {
                                    display: inline-block;
                                    padding: 20px;
                                }

                                    .text h3 {
                                        font-size: 19px;
                                        margin: 0;
                                    }

                                    .text p {
                                        font-size: 13px;
                                    }

                                /* 모달 윈도우가 팝업되는 코어 소스 */
                                input#modal2[type=checkbox]:checked ~ .box_modal2 {
                                    visibility: visible;
                                    -webkit-transform: scale(1, 1);
                                    -ms-transform: scale(1, 1);
                                    transform: scale(1, 1);
                                }
                            </style>
                        }

                        <tr id="row-template" class="d-none">
                            <td class="name-td">As</td>
                            <td class="last-td">Sa</td>
                            <td class="links-td text-end">
                                <a href="#"><i class="las la-pen text-secondary font-16"></i></a>

                                <button data-id="" onclick="deleteAuthor(this)" type="button">Delete</button>
                                <a class="primary-add" asp-route="delete-author" asp-route-id=""></a>
                            </td>
                        </tr>
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>